.flex {
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
}
/*header change*/
#header {
  background: #14ae26;
  -webkit-background: #14ae26;
  -moz-background: #14ae26;
  -ms-background: #14ae26;
  -o-background: #14ae26;
}
#header .header-back {
  margin: 0 0 0.64rem 0.56rem;
  font-size: 0.4rem;
  color: white;
  text-align: center;
  position: relative;
}
#header .header-back a:first-child {
  display: inline-block;
  width: 0.26666667rem;
  height: 0.42666667rem;
  position: absolute;
  top: 0.06666667rem;
  left: 0;
  background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#header .header-back a:last-child {
  color: white;
  font-size: 0.32rem;
  float: right;
  padding-right: 0.52rem;
}
#header .header-back p {
  position: absolute;
  left: 47%;
  top: 0;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/*header change end*/
/*order-cont*/
#box {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.42666667rem 0.29333333rem 0 0.30666667rem;
  position: absolute;
  top: 1.82666667rem;
  bottom: 1.33333333rem;
}
#box .order-cont {
  width: 8.53333333rem;
  height: 2.74666667rem;
  padding: 0.42666667rem;
  background: #f4f4f4;
  -webkit-background: #f4f4f4;
  -moz-background: #f4f4f4;
  -ms-background: #f4f4f4;
  -o-background: #f4f4f4;
  border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -webkit-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
}
#box .order-cont .order-title {
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.37333333rem;
  color: #323232;
  text-indent: 0.26666667rem;
}
#box .order-cont .order-title span {
  float: right;
  font-size: 0.29333333rem;
  color: #f88512;
}
#box .order-cont .order-title:before {
  content: '';
  display: block;
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  background: url(../images/sprites.png) no-repeat -6.86666667rem -6.81333333rem #1adb50;
  -webkit-background: url(../images/sprites.png) no-repeat -6.86666667rem -6.81333333rem #1adb50;
  -moz-background: url(../images/sprites.png) no-repeat -6.86666667rem -6.81333333rem #1adb50;
  -ms-background: url(../images/sprites.png) no-repeat -6.86666667rem -6.81333333rem #1adb50;
  -o-background: url(../images/sprites.png) no-repeat -6.86666667rem -6.81333333rem #1adb50;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#box .order-cont .order-time {
  height: 1.01333333rem;
  line-height: 1.01333333rem;
  font-size: 0.32rem;
  color: #666;
  text-indent: 0.26666667rem;
  padding-bottom: 0.42666667rem;
}
#box .order-cont .order-time span {
  float: right;
  font-size: 0.36rem;
}
#box .order-cont .order-btn {
  text-align: right;
}
#box .order-cont .order-btn a {
  font-size: 0.36rem;
  color: #1adb50;
  display: block;
  float: right;
  height: 0.77333333rem;
  line-height: 0.77333333rem;
  width: 1.90666667rem;
  border: 1px solid #bbb;
  text-align: center;
  margin-right: 0.21333333rem;
  border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -webkit-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
}
#box .order-cont .order-btn a:first-child {
  border: none;
  color: white;
  margin-right: 0;
  background: #1adb50;
  -webkit-background: #1adb50;
  -moz-background: #1adb50;
  -ms-background: #1adb50;
  -o-background: #1adb50;
}
/*order-cont end*/
/*other-footer*/
#other-footer {
  width: 100%;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  background: #999999;
  -webkit-background: #999999;
  -moz-background: #999999;
  -ms-background: #999999;
  -o-background: #999999;
  position: fixed;
  bottom: 0;
}
#other-footer ul {
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
}
#other-footer ul li {
  width: 33.333%;
  text-align: center;
  color: white;
  font-size: 0.4rem;
}
#other-footer ul li i {
  display: inline-block;
  vertical-align: middle;
  width: 0.66666667rem;
  height: 0.68rem;
  background: url(../images/sprites.png) no-repeat -0.6rem -8.2rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -0.6rem -8.2rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -0.6rem -8.2rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -0.6rem -8.2rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -0.6rem -8.2rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#other-footer ul li:nth-of-type(2) i {
  background: url(../images/sprites.png) no-repeat -1.82666667rem -8.12rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -1.82666667rem -8.12rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -1.82666667rem -8.12rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -1.82666667rem -8.12rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -1.82666667rem -8.12rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#other-footer ul li:nth-of-type(3) i {
  background: url(../images/sprites.png) no-repeat -7rem -8.21333333rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -7rem -8.21333333rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -7rem -8.21333333rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -7rem -8.21333333rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -7rem -8.21333333rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#other-footer ul li.active0 {
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -ms-background: #ffffff;
  -o-background: #ffffff;
  color: #1adb50;
}
#other-footer ul li.active0 i {
  background-position-x: -8.06666667rem;
  -ms-background-position-x: -8.06666667rem;
}
#other-footer ul li.active1 {
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -ms-background: #ffffff;
  -o-background: #ffffff;
  color: #1adb50;
}
#other-footer ul li.active1 i {
  background-position-x: -9.02666667rem;
  -ms-background-position-x: -9.02666667rem;
}
#other-footer ul li.active2 {
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -ms-background: #ffffff;
  -o-background: #ffffff;
  color: #1adb50;
}
#other-footer ul li.active2 i {
  background-position-x: -3.09333333rem;
  -ms-background-position-x: -3.09333333rem;
}
/*other-footer end*/
