.flex {
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
}
/*header change*/
#header {
  background: #1448ae;
  height: 3.33333333rem;
  z-index: -1;
  background: #14ae26;
  -webkit-background: #14ae26;
  -moz-background: #14ae26;
  -ms-background: #14ae26;
  -o-background: #14ae26;
}
#header .header-back {
  margin: 0 0 0.64rem 0.56rem;
  font-size: 0.4rem;
  color: white;
  position: relative;
}
#header .header-back a:first-child {
  display: inline-block;
  width: 0.26666667rem;
  height: 0.42666667rem;
  float: left;
  padding-right: 0;
  background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -1.38666667rem -0.46666667rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#header .header-back a,
#header .header-back span {
  color: white;
  font-size: 0.32rem;
  float: right;
  padding-right: 0.52rem;
}
#header .header-back a:last-child,
#header .header-back span:last-child {
  padding-right: 0.10666667rem;
}
#header .header-back p {
  position: absolute;
  left: 47%;
  top: 0;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#header .header-back span {
  display: none;
}
/*header change end*/
/*cont*/
#box {
  width: 100%;
  position: absolute;
  top: 3.33333333rem;
  bottom: 1.33333333rem;
}
#box .person-icon {
  width: 2.21333333rem;
  height: 2.21333333rem;
  border: 0.09333333rem solid #ffffff;
  position: absolute;
  top: -1.14666667rem;
  left: 50%;
  margin-left: -1.14666667rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: url(../images/sprites.png) no-repeat -6.37333333rem -10.33333333rem #e1e2e7;
  -webkit-background: url(../images/sprites.png) no-repeat -6.37333333rem -10.33333333rem #e1e2e7;
  -moz-background: url(../images/sprites.png) no-repeat -6.37333333rem -10.33333333rem #e1e2e7;
  -ms-background: url(../images/sprites.png) no-repeat -6.37333333rem -10.33333333rem #e1e2e7;
  -o-background: url(../images/sprites.png) no-repeat -6.37333333rem -10.33333333rem #e1e2e7;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#box .person-icon .camera {
  width: 0.97333333rem;
  height: 0.97333333rem;
  position: absolute;
  bottom: 0.05333333rem;
  right: -0.14666667rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: url(../images/sprites.png) no-repeat -4rem -8.09333333rem #f3a511;
  -webkit-background: url(../images/sprites.png) no-repeat -4rem -8.09333333rem #f3a511;
  -moz-background: url(../images/sprites.png) no-repeat -4rem -8.09333333rem #f3a511;
  -ms-background: url(../images/sprites.png) no-repeat -4rem -8.09333333rem #f3a511;
  -o-background: url(../images/sprites.png) no-repeat -4rem -8.09333333rem #f3a511;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#box .myinfo {
  height: 5.41333333rem;
  border-bottom: 0.01333333rem solid #cad8db;
  background: #edf1f2;
  -webkit-background: #edf1f2;
  -moz-background: #edf1f2;
  -ms-background: #edf1f2;
  -o-background: #edf1f2;
}
#box .myinfo h4 {
  height: 0.78666667rem;
  padding: 1.37333333rem 0 0 0;
}
#box .myinfo h4 p {
  line-height: 0.78666667rem;
  color: #898d96;
  font-size: 0.46666667rem;
  text-align: center;
}
#box .myinfo h4 p:last-child {
  font-size: 0.33333333rem;
  color: #a9a9ab;
}
#box .myinfo .coupon {
  height: 1.64rem;
  margin-top: 1.16rem;
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
}
#box .myinfo .coupon div {
  flex: 1;
  text-align: center;
}
#box .myinfo .coupon div p {
  font-size: 0.34666667rem;
  color: #989da3;
}
#box .myinfo .coupon div p:first-child {
  color: #676c72;
}
#box .myinfo .coupon div p:first-child span {
  font-size: 0.64rem;
  vertical-align: top;
}
#box .myinfo .coupon div:last-child {
  border-left: 0.02666667rem dashed #cbd7d7;
}
#box .myinfo .coupon div:last-child p span {
  vertical-align: baseline;
}
#box .order {
  height: 2.89333333rem;
  justify-content: space-around;
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -ms-background: #ffffff;
  -o-background: #ffffff;
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
}
#box .order li {
  width: 25%;
  font-size: 0.34666667rem;
  text-align: center;
}
#box .order li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #656d70;
}
#box .order li a:before {
  content: '';
  display: block;
  width: 1.01333333rem;
  height: 1.76rem;
  background: url(../images/sprites.png) no-repeat -0.57333333rem -8.86666667rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -0.57333333rem -8.86666667rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -0.57333333rem -8.86666667rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -0.57333333rem -8.86666667rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -0.57333333rem -8.86666667rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
  position: relative;
  left: 50%;
  margin-left: -0.46666667rem;
}
#box .order li:nth-of-type(2) a:before {
  background-position-x: -2.09333333rem;
  -ms-background-position-x: -2.09333333rem;
}
#box .order li:nth-of-type(3) a:before {
  background-position-x: -3.56rem;
  -ms-background-position-x: -3.56rem;
}
#box .order li:nth-of-type(4) a:before {
  background-position-x: -5.10666667rem;
  -ms-background-position-x: -5.10666667rem;
}
#box .info-list {
  padding: 0 0.96rem 1.69333333rem 0.82666667rem;
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -ms-background: #ffffff;
  -o-background: #ffffff;
}
#box .info-list li {
  height: 1.58666667rem;
  line-height: 1.58666667rem;
  display: -webkit-box;
  /*老版本：iOS 6-, Safari 3.1-6*/
  display: -moz-box;
  /*老版本：Firefox 19- */
  display: -ms-flexbox;
  /*混合版本：IE10*/
  display: -webkit-flex;
  /*新版本：Chrome*/
  display: flex;
  /*标准规范：Opera 12.1, Firefox 20+*/
  justify-content: space-between;
}
#box .info-list li p a {
  display: block;
  font-size: 0.4rem;
}
#box .info-list li p a:before {
  content: '';
  display: inline-block;
  width: 1.12rem;
  height: 0.84rem;
  vertical-align: middle;
  background: url(../images/sprites.png) no-repeat -0.57333333rem -11.13333333rem transparent;
  -webkit-background: url(../images/sprites.png) no-repeat -0.57333333rem -11.13333333rem transparent;
  -moz-background: url(../images/sprites.png) no-repeat -0.57333333rem -11.13333333rem transparent;
  -ms-background: url(../images/sprites.png) no-repeat -0.57333333rem -11.13333333rem transparent;
  -o-background: url(../images/sprites.png) no-repeat -0.57333333rem -11.13333333rem transparent;
  background-size: 10rem 12.66666667rem;
  -webkit-background-size: 10rem 12.66666667rem;
  -moz-background-size: 10rem 12.66666667rem;
  -ms-background-size: 10rem 12.66666667rem;
  -o-background-size: 10rem 12.66666667rem;
}
#box .info-list li i {
  width: 0.42666667rem;
  background: url(../images/person/icon01.png) no-repeat center center;
}
#box .info-list li:nth-of-type(2) p a:before {
  background-position-x: -2.09333333rem;
  -ms-background-position-x: -2.09333333rem;
}
#box .info-list li:nth-of-type(3) p a:before {
  background-position-x: -3.6rem;
  -ms-background-position-x: -3.6rem;
}
#box .info-list li:nth-of-type(4) p a:before {
  background-position-x: -5.13333333rem;
  -ms-background-position-x: -5.13333333rem;
}
/*cont end*/
/*footer*/
#footer ul li:nth-of-type(1) a:before {
  background-position-y: -1.09333333rem;
  -ms-background-position-y: -1.09333333rem;
}
#footer ul li:nth-of-type(4) a:before {
  background-position-y: -2.09333333rem;
  -ms-background-position-y: -2.09333333rem;
}
/*footer end*/
